body{
background: linear-gradient(135deg,#1f1c2c,#928dab);
font-family: Arial;
text-align:center;
color:white;
margin:0;
}

.container{
padding:20px;
max-width:500px;
margin:auto;
}

input,select,button{
padding:10px;
margin:5px;
border:none;
border-radius:8px;
}

button{
background:#ff0066;
color:white;
cursor:pointer;
}

button:hover{
opacity:0.8;
}

#questionBox{
margin:20px;
font-size:20px;
min-height:60px;
}

.status{
padding:8px;
margin:10px auto;
border-radius:8px;
width:200px;
font-weight:bold;
}

.online{background:#00c853;}
.offline{background:#d50000;}

.chat{
margin-top:20px;
background:#00000040;
padding:10px;
border-radius:10px;
height:150px;
overflow-y:auto;
}

.system{
color:yellow;
font-style:italic;
}

@media(max-width:600px){
h1{font-size:22px;}
}